.blog-item {
  padding: 25px 0;
  border-bottom: 1px solid @color-border;
  &:last-of-type {
    border-bottom: none;
  }
}

.blog-title {
  margin-bottom: 10px;
  font-size: 1.23rem;
  font-weight: 700;
}

.blog-date {
  margin-bottom: 25px;
  font-size: .86rem;
  color: @color-link;
  text-transform: uppercase;
}

.blog-text {
  margin: 0;
  line-height: 1.93;
}