.blog-content {
  padding-top: 15px;
  @media (min-width: @screen_md) {
    padding-top: 50px;
  }
}


.blog-item {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid @color-border;
  &:last-of-type {
    border-bottom: none;
  }
  @media (min-width: @screen_md) {
    padding: 20px 0;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom-style: dotted;
    &::before {
      content: '';
      position: absolute;
      top: 47px;
      left: -57px;
      width: 28px;
      height: 26px;
      background: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.0//EN%22%20%22http%3A//www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd%22%3E%0A%3Csvg%20version%3D%221.0%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2228px%22%20height%3D%2226px%22%20viewBox%3D%222%203%2028%2026%22%20enable-background%3D%22new%202%203%2028%2026%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23d22856%22%20d%3D%22M29%2C3H3C2.448%2C3%2C2%2C3.448%2C2%2C4s0.448%2C1%2C1%2C1h25v16H15c-0.041%2C0-0.076%2C0.018-0.116%2C0.023%0A%09c-0.067%2C0.008-0.13%2C0.018-0.195%2C0.039c-0.068%2C0.021-0.127%2C0.053-0.187%2C0.088c-0.033%2C0.02-0.071%2C0.025-0.102%2C0.05L8%2C26v-4%0A%09c0-0.553-0.448-1-1-1H4V8c0-0.552-0.448-1-1-1S2%2C7.448%2C2%2C8v14c0%2C0.553%2C0.448%2C1%2C1%2C1h3v5c0%2C0.379%2C0.214%2C0.725%2C0.553%2C0.895%0A%09C6.694%2C28.965%2C6.848%2C29%2C7%2C29c0.212%2C0%2C0.423-0.066%2C0.6-0.2l7.733-5.8H29c0.553%2C0%2C1-0.447%2C1-1V4C30%2C3.448%2C29.553%2C3%2C29%2C3z%22/%3E%0A%3C/svg%3E%0A') no-repeat center;
    }
  }
}

.blog-title {
  margin-bottom: 10px;
  font-size: 1.29rem;
  font-weight: 700;
  @media (min-width: @screen_md) {
    font-size: 1.93rem;
    line-height: 1.11;
  }
}

.blog-date {
  margin-bottom: 25px;
  font-size: .86rem;
  color: @color-link;
  text-transform: uppercase;
  @media (min-width: @screen_md) {
    font-size: 1rem;
  }
}

.blog-text {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.93;
  @media (min-width: @screen_md) {
    margin-bottom: 20px;
    font-size: 1.29rem;
  }
}