.question {
  margin-bottom: 40px;
  font-size: 1.71rem;
  font-weight: 300; 
}

.blog-pagination {
  .mixin-list-link ();
  margin-top: 30px;
  li {
    margin-bottom: 20px;
  }
  a {
    padding: 20px 26px;
    border: 2px solid @color-border;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.29rem;
    color: @color-dark;
    text-align: center;
    text-transform: uppercase;
  }
  .prev, .next {
    width: 46%;
  }
  .back {
    width: 100%;
  }
  .prev, .next, .back {
    margin-right: 0;
  }
  .prev {
    margin-right: 8%;
  }
}

.border-bottom {
  padding-bottom: 45px;
  margin-bottom: 15px;
  border-bottom: 2px solid @color-border;
}