.conditions {
  margin-top: 35px;
  margin-bottom: 45px;
  text-align: center;
  line-height: 2.14;
  @media (min-width: @screen_md) {
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 1.29rem;
    line-height: 1.67;
  }
}

.form-noset {
  padding-bottom: 40px;
}

.input-text {
  margin-bottom: 20px;
  label {
    display: block;
    padding-left: 22px;
    margin-bottom: 10px;
    color: @color-link;
    text-transform: uppercase;
  }
  input[type="text"], input[type="date"] {
    width: 100%;
  }
}

.input-range {
  position: relative;
  box-sizing: border-box;
  padding-right: 54px;
  padding-left: 54px;
  input {
    padding-left: 45%;
    position: relative;
  }
  span {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    height: 100%;
    width: 56px;
    border: 2px solid @color-border;
    border-radius: 2px;
    background: @color-light;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
  }
  .range-minus {
    left: 0;
  }
  .range-plus {
    right: 0;
  }
}

.input-text.border-bottom {
  .input-range {
    @media (min-width: @screen_md) {
      width: 50%;
    }
    @media (min-width: @screen_lg) {
      width: 33%;
    }
  }
}

.label-bottom {
  label {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
  }
}

.input-radio-check {
  margin-bottom: 35px;
}

.form-block {
  margin-left: -20px;
  margin-right: -20px;
  padding: 70px 20px 10px;
  border: 2px solid transparent;
  @media (min-width: @screen_md) {
    padding: 40px 60px 20px;
    margin-left: 0;
    margin-right: 0;
    border-color: @color-border;
    border-radius: 2px;
    margin-bottom: 65px;
  }
  .title-block {
    position: relative;
    top: 50px;
    margin: 10px auto;
    text-transform: uppercase;
    color: @color-link;
    text-align: center;
    @media (min-width: @screen_md) {
      top: 0;
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
      background: @color-light;
    }
  }
}

.form-invert {
  background: @bg-c-invert;
  @media (min-width: @screen_md) {
    background: @color-light;
  }
}

.comp {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 20px;
  }
}

.comp-number {
  margin-bottom: 20px;
  width: 60px;
  text-align: center;
  div:first-child {
    margin-bottom: 10px;
    color: @color-link;
    text-transform: uppercase;
  }
  div:last-child {
    box-sizing: border-box;
    padding: 14px 0;
    border: 2px solid @color-border;
    border-right: none;
    border-radius: 2px 0 0 2px;
    background: @bg-c-invert;
    font-size: 1.29rem;
    line-height: normal;
    @media (min-width: @screen_md) {
      border-right: 2px solid @color-border;
      border-radius: 2px;
    }
  }
  + .input-text input {
    border-radius: 0 2px 2px 0;
    @media (min-width: @screen_md) {
      border-radius: 2px;
    }
  }
}

.comp-delete {
  display: none;
  width: 100px;
  padding-top: 30px;
  text-align: right;
  @media (min-width: @screen_md) {
    display: block;
  }
  a {
    display: block;
    padding: 18px 0;
    text-transform: uppercase;    
    color: @color-dark;
  }
}

.fotos-upload {
  display: block;
  position: relative;
  width: 100%;   
  overflow: hidden;
  .btn-upload {
    .mixin-btn ();
    display: block;    
    box-sizing: border-box;  
    border: 2px solid @color-border;
    cursor: pointer;
  }
  input[type="file"] {
    position: absolute;
    top: 0;
    opacity: 0;
  }  
}

.fotos-block {
  padding-top: 15px;  
  @media (min-width: @screen_md) {
    margin-bottom: -20px;
  }
  .foto-item {
    position: relative;
    width: 25%;
    margin-right: 12%;
    margin-bottom: 20px;
    @media (min-width: @screen_md) {
      margin-bottom: 35px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    @media (min-width: @screen_lg) {
      width: 15%;
      margin-right: 6%;
      &:nth-child(3n) {
        margin-right: 6%;
      }
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;      
    }
  }
  .foto-delete {
    position: absolute; 
    top: -16px;
    right: -16px;
    width: 28px;
    height: 28px;      
    border: 2px solid @color-border;
    border-radius: 50%;
    font-size: 0;    
    z-index: 5;
    cursor: pointer;
    background: @color-light url('data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2226.752%22%20height%3D%2226.752%22%20viewBox%3D%220%200%2026.752%2026.752%22%3E%3Cpath%20fill%3D%22rgba%2851%2C%2051%2C%2051%2C%200.3%29%22%20d%3D%22M15.497%2013.376l10.815-10.814c.586-.585.586-1.535%200-2.121s-1.535-.586-2.121%200l-10.815%2010.814-10.814-10.816c-.586-.586-1.535-.586-2.121%200-.586.585-.586%201.535%200%202.121l10.814%2010.815-10.816%2010.815c-.586.586-.586%201.535%200%202.121.293.293.677.439%201.061.439s.768-.146%201.061-.439l10.815-10.814%2010.814%2010.815c.293.293.677.439%201.061.439s.768-.146%201.061-.439c.586-.586.586-1.535%200-2.121l-10.815-10.815z%22/%3E%3C/svg%3E') no-repeat center;
    background-size: 10px 10px;
    @media (min-width: @screen_md) {
      top: -28px;
      right: -28px;
      width: 52px;
      height: 52px;
      background-size: 20px 20px;
    }
  }   
  .foto-name {
    margin-top: 5px;
    font-size: .86rem;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    @media (min-width: @screen_md) {
      margin-top: 10px;
    }
  }
}

.form-submit {
  padding: 45px 0 15px;
  @media (min-width: @screen_md) {
    padding-top: 0;
  }
  .form-note {
    text-align: center;
    text-transform: uppercase;
    @media (min-width: @screen_md) {
      float: right;
      padding-top: 20px;
      text-align: right;
    }
    .star {
      color: @color-link;
    }
    .hidden-note {
      display: none;
      @media (min-width: @screen_lg) {
        display: inline;
      }
    }
  }
}

.btn-submit {
  .mixin-btn ();
  margin-bottom: 40px;
  color: @color-light;
  background-color: @color-btn;
  @media (min-width: @screen_md) {
    float: left;
    width: 300px;
  }
  @media (min-width: @screen_lg) {
    margin-bottom: 0;
  }
}

.btn-close {
  .mixin-btn ();
  margin-bottom: 40px;
  color: @color-light;
  background-color: @color-btn;
}

.modal-up {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -145px;
  padding: 40px 20px 10px;  
  background-color: @color-light;
  text-align: center;  
  box-shadow: 0 2px 15px fade(@color-black, 30%);
  @media (min-width: @screen_md) {    
    left: 50%;
    margin-left: -230px;
    margin-top: -195px;
    width: 300px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .modal-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.29rem;
    @media (min-width: @screen_md) {    
      font-size: 2.14rem;
    }
  }
  .modal-text {
    margin-bottom: 35px;
    @media (min-width: @screen_md) {    
      font-size: 1.29rem;
    }
  }
}
