.page-footer {
  padding: 40px 0;
  text-align: center;
  font-weight: 300;
}

.footer-contacts {
  .contact {
    margin-bottom: 20px;
  }
  .contact-title {
    font-size: 1.23rem;
    font-weight: 700;
  }
  .contact-value {
    font-size: 1.71rem;
    color: @color-link;
  }
}

.footer-social {
  .mixin-list-link ();
  margin: 30px 0;
  a {
    width: 45px;
    height: 45px;
    border: 3px solid @color-dark-alpha10;
    border-radius: 50%;
    font-size: 0;
    color: @color-link;
  }
}

.footer-create {
  font-weight: 400;
}