.page-header {
  position: relative;
  color: @color-light;
  text-align: center;
  background: @bg-c url('../img/background-mobile@1x.jpg') no-repeat top center;
  background-size: auto 488px;
  @media (min-resolution: 1.5dppx) {    
    background-image: url('../img/background-mobile@2x.jpg');
  }
  @media (min-resolution: 2.5dppx) {
    background-image: url('../img/background-mobile@3x.jpg');    
  }
  @media (min-width: @screen_md) {    
    background-size: cover;
    background-image: url('../img/background-tablet@1x.jpg');
    @media (min-resolution: 1.5dppx) {    
      background-image: url('../img/background-tablet@2x.jpg');
    }
  }
  @media (min-width: @screen_lg) {
    background-image: url('../img/background-fullsize.jpg');
  }
  .wrap-bg {
    background-color: @bg-c;
    @media (min-width: @screen_md) {
      background-color: transparent;
    }
  }
}

.page-nav {
  background: @bg-c-nav;
  .logo-link {
    float: left;  
    width: 75px;
    height: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: @screen_md) {
      width: 147px;
      height: 41px;
      padding-top: 24px;
      padding-bottom: 40px;
    }
    span {
      &:nth-child(1) {
        @media (min-width: @screen_md) {
          display: none;
        }
      }
      &:nth-child(2) {
        display: none;
        @media (min-width: @screen_md) {
          display: inline;
        }
        @media (min-width: @screen_lg) {
          display: none;
        }
      }
      &:nth-child(3) {
        display: none;
        @media (min-width: @screen_lg) {
          display: inline;
        }
      }
    }
  }
  .nav-toggle {
    float: right;
    height: 24px;    
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: @screen_md) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media (min-width: @screen_lg) {
      display: none;
    }
    &.close-menu {
      width: 50px;
      span {
        &:nth-child(1) {
          display: inline;
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
    &.open-menu {
      width: 24px;
      span {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: inline;
        }
      }
    }
  }
  .nav-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: @screen_lg) {
      display: block;
      float: right;
      li {
        display: inline-block;
        vertical-align: top;
        &:last-child a {
          padding-right: 0;
        }
      }
    }
    a {
      display: block;
      padding: 15px 0;
      font-size: 1.29rem;
      color: @color-light;
      font-weight: 700;
      text-transform: uppercase;
      background-color: @color-dark;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15) , inset 0 -1px 0 #000;
      @media (min-width: @screen_lg) {
        position: relative;
        padding: 40px 38px;
        font-weight: 400;
        text-transform: none;
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}

.header-intro {
  h1 {
    position: relative;
    margin: 30px 0 40px;
    font-size: 1.71rem;
    font-weight: 300;
    z-index: 5;
    @media (min-width: @screen_md) {
      margin: 65px 0 75px;
      font-size: 2.86rem;
    }
    @media (min-width: @screen_lg) {
      font-size: 3.57rem;
      line-height: 1.2;
    }
  }  
}

.header-info {
  position: relative;
  padding-top: 25px;
  font-weight: 300;
  z-index: 5;
  @media (min-width: @screen_md) {
    width: 50%;
    padding-top: 0;
  }
  @media (min-width: @screen_lg) {
    width: 32%;
  }
  .btn-download {
    display: inline-block;
    vertical-align: top;
    padding: 10px 35px;
    font-size: 1.29rem;
    font-weight: 700;
    color: @color-light;
    border: 3px solid @color-light;
    border-radius: 30px;
  }
  .info-download {
    margin: 25px 0;
  }
  .link-download {
    width: 46px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
  .info-descr {
    margin-bottom: 30px;
    line-height: 1.71;
    @media (min-width: @screen_md) {
      font-size: 1.29rem;
      margin-bottom: 110px;
    }
  }
}

.index-header {
  .header-intro {
    line-height: 0;
    @media (min-width: @screen_md) {
      width: 50%;
    }
    @media (min-width: @screen_lg) {
      width: 32%;
    }
    h1 {
      line-height: 1.4;
      margin: 20px 0 30px;
      @media (min-width: @screen_md) {
        margin-top: 95px;
      }
      @media (min-width: @screen_lg) {
        margin: 105px 0 45px;
        min-height: 210px;
      }
    }  
    img {
      position: relative;
      left: -30px;      
      @media (min-width: @screen_md) {
        position: absolute;        
        bottom: 0;
        left: auto;
        right: 0;
      }
      
    }
  }
}