.post-header {
  position: relative;
  padding-top: 35px;
  padding-bottom: 25px;
  margin-bottom: 35px;
  text-align: center;
  border-bottom: 1px solid @color-border;  
  @media (min-width: @screen_md) {
    border-bottom-style: dotted;
    padding-top: 80px;
  }
  @media (min-width: @screen_lg) {
    padding-top: 100px;
  }
  .blog-title {
    margin-top: 0;
    font-size: 2.14rem;
    line-height: 1.2;
    @media (min-width: @screen_md) {
      font-size: 3.57rem;
    }
  }
  .blog-text {
    font-size: 1.14rem;
    line-height: 1.69;
    @media (min-width: @screen_md) {
      font-size: 1.71rem;
    }
  }
  .blog-date {
    @media (min-width: @screen_md) {
      position: absolute;
      margin-bottom: 0;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 20px;
      background-color: @color-light;
    }
  }
}

.post-body {
  @media (min-width: @screen_md) {
    font-size: 1.29rem;
  }
  h3 {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 10px;
    font-size: 1.29rem;
    font-weight: 700;
    text-transform: uppercase;
    @media (min-width: @screen_md) {
      font-size: 1.71rem;
    }
  }
  p {
    margin: 0;
    margin-bottom: 45px;
    line-height: 1.93;
  }
  a {
    text-decoration: underline;
  }
  ul {
    list-style: none;
    position: relative;
    padding-left: 20px;
  }
  li {
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      margin-top: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: @color-link;
    }
  }
  blockquote {
    margin: 0;
    margin-bottom: 35px;
    padding-left: 20px;
    border-left: 2px solid @color-link;
    line-height: 1.93;
  }
  cite {
    display: block;
    font-style: italic;
    color: #8a8a8a;
  }
}

.post-header, .post-body, .post-footer {
  @media (min-width: @screen_lg) {
    margin-left: 60px;
    margin-right: 60px;
  }
}